*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: none;
  font-family: "MS-Sans-Serif", Arial;
  margin: 0;
  padding: 0;
  background-color: $bgColorGreen;
}

#root {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: inherit;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start,
::-webkit-scrollbar-button:vertical:end,
::-webkit-scrollbar-button:horizontal:start,
::-webkit-scrollbar-button:horizontal:end {
  height: 17px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:vertical:start:hover,
::-webkit-scrollbar-button:vertical:end:hover,
::-webkit-scrollbar-button:horizontal:start:hover,
::-webkit-scrollbar-button:horizontal:end:hover {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

::-webkit-scrollbar-button:vertical:start:active,
::-webkit-scrollbar-button:vertical:end:active,
::-webkit-scrollbar-button:horizontal:start:active,
::-webkit-scrollbar-button:horizontal:end:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}