@import '_variables.scss';
@import '_reset.scss';
@import '_font.scss';
@import url('slick-carousel/slick/slick.css');
@import url('slick-carousel/slick/slick-theme.css');

/* 공통 hidden */
.hid {
  display: none !important;
}

/* 공통 아이콘 */
.icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    display: block;
  }
  &.menu {
    display: block;
    width: inherit;
    height: inherit;
  }
  &-grid {
    background: center / auto 11px url('../assets/images/ico-grid.png') no-repeat;
  }
  &-menu {
    background: center / auto 11px url('../assets/images/ico-menu.png') no-repeat;
  }
  &-map {
    background: center / auto 18px url('../assets/images/ico-map.png') no-repeat;
  }
  &-home {
    background: center / auto 22px url('../assets/images/ico-home.png') no-repeat;
  }
  &-search {
    background: center / auto 22px url('../assets/images/ico-search.png') no-repeat;
  }
  &-photo {
    background: center / auto 22px url('../assets/images/ico-photo.png') no-repeat;
  }
  &-like {
    background: center / auto 22px url('../assets/images/ico-like.png') no-repeat;
  }
}

/* 공통 버튼 */
.btn {
  &Check {
    width: 100%;
    height: 35px;
    font-size: $h5;
  }
  &Follow {
    width: calc(100% - 40px);
    height: 40px;
    font-size: $h4;
  }
  &Toggle {
    width: 40px;
    height: 40px;
  }
}

/* 공통 내용 없음 영역 */
.noContents {
  padding: 10% 0;
  .txt {
    text-align: center;
    font-size: $h4;
  }
}

/* 공통 화살표 */
.icon-arrow {
  &-down {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0.4em solid transparent;
      border-top-color: #000;
      border-bottom-width: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-up {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0.4em solid transparent;
      border-bottom-color: #000;
      border-top-width: 0;
      transform: translate(-50%, -50%);
    }
  }
}

.wrap {
  width: 100%;
  height: 100%;
}

.inner {
  width: 100%;
  height: 100%;
}

.icons {
  display: inline-block;
  .icon {
    display: block;
    padding: 30px;
  }
}

.gnb {
  ul {
    display: flex;
  }
  ul li {
    text-align: center;
    font-size: 0.9em;
    margin-right: 10px;
  }
  li span {
    display: inline-block;
  }
  li span::after {
    content: '';
    display: block;
    color: inherit;
    margin: 1px 0;
    width: 0.7em;
    height: 1px;
    background-color: #000;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  padding: 4px;
  text-shadow: 0 0 #222;
  background-color: $bg-color-gray;
  box-shadow: $box-shadow;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 10px;
  background-color: $bg-color-primary;
  .title {
    display: flex;
    align-items: center;
    font-size: $h4;
    color: $color-white;
    flex: 1;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .logo svg {
    display: block;
  }
  .btn {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    &:not(.btnMin) .icon {
      margin-top: -1px;
    }
  }
  .btnMin {
    text-align: left;
  }
  .btnMin .icon {
    width: 100%;
    padding: 4px;
    vertical-align: bottom;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-height: 600px;
  overflow-y: auto;
  .title {
    display: block;
    text-align: center;
    margin: 10px 0;
    h2 {
      font-size: $h2;
      font-weight: 300;
    }
  }
}

.profile {
  position: relative;
  width: 30%;
  overflow: hidden;
  background-color: #000;
  border-radius: 100px;
  .profileImg {
    width: auto;
    height: 100%;
    position: absolute;
    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / cover url('../assets/images/profile.gif') no-repeat;
}

.infoBox {
  width: calc(100% - 30%);
  padding-left: 30px;
  .btnWrap {
    display: flex;
    align-items: center;
    padding-top: 10px;
    .btn {
      margin: 10px;
    }
    .btn:last-child {
      margin: 0;
    }
  }
}

.infoBoxList {
  ul {
    display: flex;
    li {
      width: 33.3%;
    }
  }

  ul li:last-child {
    margin-right: 0;
  }

  .tit {
    display: block;
    font-style: normal;
    margin: 5px 0;
    font-size: $h4;
  }
  .count {
    display: block;
    font-size: $h2;
    font-weight: 600;
  }
}

.items {
  width: 100%;
  margin: 10px 0;
  .item {
    .modalHeader {
      padding: 0 2px;
    }
  }
  p {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .tit {
    font-size: $h4;
    font-weight: 700;
    margin: 5px 0;
  }
  .desc {
    font-size: $h4;
    margin: 5px 0;
  }

  .thumb {
    position: relative;
    width: 80%;
    margin: 10% auto;
    border-radius: 100%;
    overflow: hidden;
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  .thumb::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus .btn {
  flex: 1;
  width: 100%;
  height: 40px;
}
.txtBox {
  margin: 10px 1px;
}

.txtBox .txt {
  font-size: $h4;
  margin-bottom: 10px;
  &.bold {
    font-weight: 700;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contentsTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contentsBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contentsBox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-y: auto;
  height: 225px;
  min-height: 225px;
  figure {
    width: 33.3%;
  }
  figure img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: #{$sm}px) {
  .modal {
    width: 90%;
  }
}
