@import '_reset.scss';
@import '_font.scss';

/* 공통 버튼 */
.btn {
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 #222;
  background-color: $bgColorGray;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border-radius: 0;

  &:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
  }

  &:not(:disabled):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
  }

  &:last-child {
    margin-right: 0 !important
  }

  &.icon {
    width: 20px;
    height: 20px;
    text-indent: -999999px;
  }

  &.icon2 {
    position: relative;
    text-indent: -999999px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
    }
  }

  /* 전체 보기 버튼 */
  &.total {
    &:before {
      background: center / contain url('../assets/images/total-img.png') no-repeat;
    }
  }

  /* 좋아요 버튼 */
  &.like {
    &::before {
      background: center / contain url('../assets/images/like-img.png') no-repeat;
    }
  }
}

/* 공통 디바이더 */
.divider {
  width: 100%;
}

.arrow {
  display: inline-block;
  border: 0.4em solid transparent;
  margin-bottom: -0.25em;

  &.bottom {
    border-top-color: #000;
  }
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 360px;
  width: 480px;
  padding: 4px;
  text-shadow: 0 0 #222;
  transform: translate(-50%, -50%);
  background-color: $bgColorGray;
  box-shadow: $boxShadow;
}

.header {
  .headerContanier {
    position: relative;
  }

  .title {
    position: relative;
    background-color: #00017f;
    color: #fff;
    font-size: $h4;
    padding: 6px 10px;
    font-weight: 300;
    margin-bottom: 10px;

    .logoWrap {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .logo {
      width: 20px;
      height: 20px;
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
      padding-left: $logoWidth + 5px;
    }
  }

  .gnb {
    margin: 10px;

    nav {
      ul {
        display: flex;

        li {
          text-align: center;
          font-size: 0.9em;
          margin-right: 10px;
          cursor: pointer;

          &:last-child {
            margin: 0
          }

          span {
            display: inline-block;

            &::after {
              content: '';
              display: block;
              color: inherit;
              margin: 1px 0;
              width: 0.7em;
              height: 1px;
              background-color: #000;
            }
          }
        }
      }
    }

  }

  .btnWrap {
    position: absolute;
    top: 3px;
    right: 3px;

    .btn {
      margin-right: 3px;
    }
  }

}

.container {
  height: fit-content;
  padding: 10px;
}

.infoHeader {
  margin-bottom: 20px;
}

.infoHeaderTitle {
  text-align: center;
  font-size: $h2;
  font-weight: 300;
}

.infoBox {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.profile {
  position: relative;
  width: $profileImgSize;
  overflow: hidden;
  background-color: #000;
  border-radius: 100px;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .profileImg {
    width: auto;
    height: 100%;

    &.center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / cover url('../assets/images/profile.gif') no-repeat;
}

.infoWrap {
  width: 100% - $profileImgSize;
  padding-left: 30px;

  .infoList {
    width: 100%;

    ul {
      display: flex;

      li {
        width: 33.3%;

        &:last-child {
          margin-right: 0;
        }

        .tit {
          display: block;
          font-style: normal;
          margin: 5px 0;
          font-size: $h4;
        }

        .count {
          display: block;
          font-size: $h2;
          font-weight: 600;
        }
      }
    }
  }

  .btnWrap {
    display: flex;
    margin-top: 6%;

    .btn {
      height: 40px;
      margin-right: 5px;

      &.follow {
        width: calc(100% - 40px);

        span {
          position: relative;
          padding-left: 1em;

          &:before {
            display: block;
            content: '+';
            position: absolute;
            top: 6px;
            left: 0;
            line-height: 0;
          }
        }
      }

      &.dropdown {
        width: 40px;
      }
    }


  }
}

.infoTxtWrap {
  flex: 1;
  margin: 20px 0 0;

  .txt {
    margin-bottom: 10px;

    &.bold {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.icon {
      position: relative;
      padding-left: $iconSize + 5px;

      &::before {
        content: '';
        display: 'block';
        position: absolute;
        left: 0;
        top: 50%;
        width: $iconSize;
        height: $iconSize;
        transform: translateY(-50%);
        background: center / cover url('../assets/images/github-ico.png') no-repeat;
      }
    }
  }
}

.menus {
  .btn {
    width: 25%;
    height: 40px;
  }
}

.contents {
  overflow-y: auto;

  img {
    width: 33.3%;
  }

  .contentsBox {
    overflow-y: auto;
    max-height: 200px;
  }
}