@import '_variables.scss';
@import '_reset.scss';
@import '_font.scss';
@import url('slick-carousel/slick/slick.css');
@import url('slick-carousel/slick/slick-theme.css');

/* 공통 hidden */
.hid {
  display: none !important;
}

/* 공통 아이콘 */
.icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    display: block;
  }
  &.menu {
    display: block;
    width: inherit;
    height: inherit;
  }
  &-grid {
    background: center / auto 11px url('../assets/images/ico-grid.png') no-repeat;
  }
  &-menu {
    background: center / auto 11px url('../assets/images/ico-menu.png') no-repeat;
  }
  &-map {
    background: center / auto 18px url('../assets/images/ico-map.png') no-repeat;
  }
  &-home {
    background: center / auto 22px url('../assets/images/ico-home.png') no-repeat;
  }
  &-search {
    background: center / auto 22px url('../assets/images/ico-search.png') no-repeat;
  }
  &-photo {
    background: center / auto 22px url('../assets/images/ico-photo.png') no-repeat;
  }
  &-like {
    background: center / auto 22px url('../assets/images/ico-like.png') no-repeat;
  }
}

/* 공통 디바이더 */
.divider {
  width: 100%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
}

/* 화살표 */
.icon-arrow {
  &-down {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0.4em solid transparent;
      border-top-color: #000;
      border-bottom-width: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-up {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0.4em solid transparent;
      border-bottom-color: #000;
      border-top-width: 0;
      transform: translate(-50%, -50%);
    }
  }
}
.wrap {
  width: 100%;
  height: 100%;
}

.icons {
  display: block;
  padding: 30px;
}

/* 공통 내용 없음 영역 */
.noContents {
  display: block;
  width: 100%;
  text-align: center;

  .txt {
    font-size: $h4;
  }
}

.header {
  &Top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 10px;
    background-color: $bg-color-primary;
    .title {
      display: flex;
      align-items: center;
      font-size: $h4;
      color: $color-white;
      flex: 1;
    }
    .logo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      svg {
        display: block;
      }
    }
  }
  &Bottom {
    padding: 10px;
  }
  .gnb {
    ul {
      display: flex;
      li {
        text-align: center;
        font-size: 0.9em;
        margin-right: 10px;
        span {
          display: inline-block;
          &::after {
            content: '';
            display: block;
            color: inherit;
            margin: 1px 0;
            width: 0.7em;
            height: 1px;
            background-color: #000;
          }
        }
      }
    }
  }

  .btn {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    &Min {
      text-align: left;
      .icon {
        width: 100%;
        padding: 4px;
        vertical-align: bottom;
      }
    }
    &:not(.btnMin) {
      .icon {
        margin-top: -1px;
      }
    }
  }
}

.btn {
  &Check {
    width: 100%;
    height: 35px;
    font-size: $h5;
  }
  &Follow {
    width: calc(100% - 40px);
    height: 40px;
    font-size: $h4;
  }
  &Toggle {
    width: 40px;
    height: 40px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-width: 360px;
  padding: 4px;
  text-shadow: 0 0 #222;
  background-color: $bg-color-gray;
  box-shadow: $boxShadow;
  &Header {
    flex: 32px;
  }
  &Container {
    flex: auto;
    overflow-y: auto;
    padding: 10px;
    .title {
      text-align: center;
      font-size: $h2;
      font-weight: 300;
      h2 {
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}

.profile {
  position: relative;
  width: 30%;
  overflow: hidden;
  background-color: #000;
  border-radius: 100px;
  .profileImg {
    width: auto;
    height: 100%;
    position: absolute;
    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / cover url('../assets/images/profile.gif') no-repeat;
}

.infoBox {
  width: calc(100% - 30%);
  padding-left: 30px;

  &List {
    width: 100%;
    ul {
      display: flex;
      li {
        width: 33.3%;
        &:last-child {
          margin-right: 0;
        }
        .tit {
          display: block;
          font-style: normal;
          margin: 5px 0;
          font-size: $h4;
        }
        .count {
          display: block;
          font-size: $h2;
          font-weight: 600;
        }
      }
    }
  }

  .btnWrap {
    display: flex;
    align-items: center;
    padding-top: 10px;
    .btn {
      margin: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.items {
  width: 100%;
  margin-top: 20px;
  .item {
    background-color: $bg-color-gray;
    .no-img {
      width: 80%;
      margin: 0 auto;
      background-color: $bg-color-black;
      border-radius: 100%;
      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
    .txt {
      text-align: center;
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .tit {
        font-size: $h4;
        font-weight: 700;
        margin: 5px 0;
      }

      .desc {
        font-size: $h4;
        margin: 5px 0;
      }
    }
  }
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    flex: 1;
    width: 100%;
    height: 40px;
  }
}

.txtBox {
  flex: 100%;
  margin: 20px 0 0;

  .txt {
    font-size: $h4;
    margin-bottom: 10px;

    &.bold {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contents {
  .noContents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &Top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &Box {
    position: relative;
    overflow-y: auto;
    min-height: 225px;
    max-height: 225px;
  }
}

@media (max-width: #{$sm}px) {
  .modal {
    width: 90%;
  }
}
