/* view sizes */
$logoWidth: 20px;
$logoHeight: 20px;
$iconSize: 15px;

/* image sizes */
$profileImgSize: 31%;

/* font sizes */
$h1 : 1.4em;
$h2 : 1.2em;
$h3 : 1em;
$h4 : 0.9em;
$h5 : 0.8em;
$h6 : 0.7em;

/* colors */
$bgColorGray: silver;
$bgColorGreen: #008080;

/* box shadows */
$boxShadow : inset -1px -1px #0a0a0a,
inset 1px 1px #fff,
inset -2px -2px grey,
inset 2px 2px #dfdfdf;