/* font sizes */
$h1: 1.4em;
$h2: 1.2em;
$h3: 1em;
$h4: 0.9em;
$h5: 0.8em;
$h6: 0.7em;

/* colors */
$color-white: #fff;
$color-gray: #c0c0c0;
$color-light-gray: #dfdfdf;
$color-dark-gray: #0a0a0a;
$color-black: #000;
$color-primary: #00017f;
$color-secondary: #008080;

/* bg colors */
$bg-color-primary: $color-primary;
$bg-color-secondary: $color-secondary;
$bg-color-gray: $color-gray;
$bg-color-black: $color-black;

/* box shadows */
$box-shadow:
  inset -1px -1px $color-dark-gray,
  inset 1px 1px $color-white,
  inset -2px -2px $color-gray,
  inset 2px 2px $color-light-gray;

/* break points */
$xs: 0;
$sm: 480;
$md: 768;
$lg: 1024;
$xl: 1600;
